<section id="promo--quad-cta" class="promo promo--tri-cta">
  <ul class="container">
    <li>
      <a href="/enterprise/support">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--enterprise"></div>
        <h4>Consultation</h4>
        <p>Sit down with us to explore options</p>
      </a>
    </li>
    <li>
      <a href="/resources/documentation">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--docs"></div>
        <h4>Documentation</h4>
        <p>Start building learning community</p>
      </a>
    </li>
    <li>
      <a href="https://github.com/calvinckho/restvo-app">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--github"></div>
        <h4>GitHub</h4>
        <p>See our open-sourced project</p>
      </a>
    </li>
    <li>
      <a href="https://twitter.com/restvoinc">
        <div class="promo--quad-cta__graphic promo--quad-cta__graphic--twitter"></div>
        <h4>Twitter</h4>
        <p>Latest news and updates</p>
      </a>
    </li>
  </ul>
</section>
