{% extends "_layouts/base.html" %}
{% set id = 'about' %}
{% set title = 'About Restvo' %}
{% set meta_description = "Restvo is the easiest way for web developers to build, grow, and scale cross-platform mobile apps. From our popular open source Framework,our goal is to enable more people and organizations to create better apps, faster." %}
{% set cssPath = 'about' %}

{% block main %}
<div class="cta banner">
  <hgroup class="container">
    <h1>About Restvo</h1>
    <p>
      Restvo helps organizations build a fun, easy-to-use, and intentional learning and mentoring community through mobile technology.
    </p>
  </hgroup>
  <div class="bar tabbed" data-spy="affix" data-offset-top="375">
    <div class="container" id="discover-nav" offset="-400">
      <ul class="categories nav">
        <li><a class="about active" href="/about">About Us</a></li>
        <li><a class="values" href="/values">Values</a></li>
        <li><a class="our team" href="/team">Our Team</a></li>
        <li><a class="jobs" href="/jobs">Jobs</a></li>
        <li><a class="contact" href="/contact">Contact</a></li>
      </ul>
    </div>
  </div>
</div>
<section class="container about-us hero left">
  <div class="graphics active-on-load" id="timeline">
    <div class="period left">
      <h4>Co-founders Met</h4>
      <p>
        <strong>Alex Sung</strong> and <strong>Calvin Ho</strong> met at a Pastors' Conference in Chicago.</p>
      </p>
    </div>
    <div class="period right">
      <h4>Company Founded</h4>
      <p>Restvo Inc. is founded and the first group of interns hired.
    </div>
    <div class="period left">
      <h4>Mobile App Released</h4>
      <p>Alpha was released on iOS and Android for early testing.</p>
    </div>
    <div class="period right">
      <h4>Web App Released</h4>
      <p>
        Restvo's Web App is Released on Browser for testing.
      </p>
    </div>
    <div class="period left">
      <h4>Acts 29 Conference</h4>
      <p>
        Restvo was showcased in the Acts 29 Conference in Fall 2019
      </p>
    </div>
    <div class="period right">
      <h4>First Customer</h4>
      <p>Restvo signs on its first customer, a denomination growing their pastors' coaching program.</p>
    </div>
    <!--<div class="period left">
      <h4>Restvo raises $2.6M</h4>
      <p>Lightbank led, with Founder Collective and Arthur Ventures.</p>
    </div>
    <div class="period right">
      <h4>Restvo v2 announced</h4>
      <p>First peek at Restvo Framework v2 released at London Angular Connect.</p>
    </div>-->
  </div>
  <div class="content">
    <h3>About us</h3>
    <p class="lg strong">
      Every startup story begins with taking the first step. Our story begins two years on a cold winter’s night in Chicago (January 2018). Two discipleship pastors met in the lobby of a hotel at a church conference. We started talking about our similar backgrounds in church ministry then we quickly shifted into a deep talk on discipleship and technology in the church. Actually, we both were venting out about the lack of good technology for churches. There were barely any good mobile apps/platforms dedicated to helping churches grow. We both could count the number of “decent” church apps on one hand.
    </p>
    <p class="lg strong">
      We talked for hours about what we wish we could do using the current mobile app technology. Then, it hit us like a snowball in the face. I had a passion for UX/UI design and background as a director of discipleship while also working with a few different startups. Calvin had a background in software engineering and was excited to build an app for his church. Just like that, we decided to partner together to build a discipleship app. That is what we said we would do and that is what we did.
    </p>
    <p class="lg strong">
      The day after we talked about building an app for the church, we also came up with the name Restvo. As pastors as well as entrepreneurs, we knew that hard work was important but we had also learned the hard way about the importance of being restful. Burn out in church ministry was all to common… so we decided to play with the word “restful” as an idea for a company. We searched for available domains and found out that www.restvo.com was available! We purchased the domain name that morning and got started working on building Restvo that very day.
    </p>
  </div>
</section>
<section class="our">
  <div class="container">
    <div class="mission col-sm-5 col-sm-offset-1">
      <h3>Our Mission</h3>
      <p>
        Restvo’s mission is to helps organizations build a fun, easy-to-use, and intentional learning and mentoring community through mobile technology.
      </p>
    </div>
    <div class="philosophy col-sm-5">
      <h3>Our Philosophy</h3>
      <p>
        We believe learning and growing people in organizations is difficult, but also the most rewarding endeavor for the leaders. Get to know our <a href="/team">team</a>.
      </p>
    </div>
  </div>
</section>
<!--<section class="our-neck">
  <div class="hero left container">
    <div class="content">
      <h3>Our neck of the woods</h3>
      <p class="lg">
        Restvo was proudly founded and headquartered in Oakland, California, USA.
        Being a new startup, you will find us working in our coworking space, or
        in our homes.
      </p>
      <p class="lg">
        We are proud of our hometown Oakland, and want to give back to it by
        recruiting local talents and giving back our time and resources to our
        community.
      </p>
    </div>
  </div>
</section>-->

<div class="hero dark text-center">
  <hgroup class="container">
    <h3>We have bold vision for the Church</h3>
    <p><a href="/values">Read about our values
      <span class="ion-ios-arrow-round-forward-outline"></span></a></p>
  </hgroup>
</div>
<!--{% include '_includes/promos/newsletter-signup.html' %}-->
{% endblock %}


{% block scripts %}
<script>
setTimeout(() => document.getElementById('timeline').classList.add('active'), 1500);
</script>
{% endblock %}
