{% extends "_layouts/base.html" %}
{% set id = 'demo' %}
{% set title = 'Demo the Restvo Platform' %}
{% import "_includes/macros.html" as macros %}
{% set meta_description = "Connect with one of our app strategists and get a walkthrough of the Restvo mobile app development platform. We are here to help you build your mobile app strategy." %}

{% block main %}
<div class="cta demo-cta gradient" ng-init="period = 'monthly'">
  <div class="container">
    <img class="demo-cta__icon" src="/img/demo/demo-icon.png">
    <hgroup>
      <h1>Set up a Free Demo</h1>
      <p>Connect with one of our customer success specialists and get a walkthrough of the Restvo platform.</p>
    </hgroup>
  </div>
</div>

<main class="container demo-form hubspot-override">
  <script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/shell.js"></script>
  <script>
    hbspt.forms.create({
      portalId: "4389946",
      formId: "1ded77cb-5057-42ca-bb90-d3e014b45d46"
    });
  </script>

  <aside class="demo-form__aside">
    <p>Supporting Churches, Denominations, and Nonprofits</p>
    <img src="/img/plan.svg"
            alt="Building a better world">
  </aside>
</main>
{% endblock %}

{% block scripts %}
{% endblock %}
